---
all:
  children:
    proxmox_nodes:
      hosts:
        pve-node:
          # -------------------------------------------------------
          # Verbindung
          # -------------------------------------------------------
          ansible_host: 192.168.1.10
          ansible_user: root

          # -------------------------------------------------------
          # Proxmox API
          # -------------------------------------------------------
          proxmox_host: "192.168.1.10"
          proxmox_node: "pve"
          proxmox_user: "root@pam"
          proxmox_password: "changeme"  # Empfehlung: ansible-vault verwenden

          # -------------------------------------------------------
          # VM-Konfiguration
          # -------------------------------------------------------
          vm_name: "android-pixel"
          vm_hostname: "pixel1-android"
          vm_cores: 2
          vm_memory: 8192
          vm_disk_size: "128G"
          vm_storage: "data"
          vm_bridge: "vmbr0"
          vm_start_after_create: true

          # -------------------------------------------------------
          # ISO / Template Storage
          # -------------------------------------------------------
          vm_iso_storage: "local"
          # vm_iso_storage_path wird automatisch via pvesh+jq ermittelt

          # -------------------------------------------------------
          # Bliss OS ISO
          # ISO manuell herunterladen und in den ISO-Storage legen:
          # https://sourceforge.net/projects/blissos-x86/files/Official/BlissOS16/Gapps/Generic/
          # -------------------------------------------------------
          blissos_iso_filename: "Bliss-v16.9.7-x86_64-OFFICIAL-gapps-20241011.iso"

          # -------------------------------------------------------
          # Netzwerk
          # -------------------------------------------------------
          vm_network_mode: "dhcp"  # "dhcp" oder "static"

          # Nur bei vm_network_mode: static:
          # vm_ip: "192.168.1.50/24"
          # vm_gateway: "192.168.1.1"
          # vm_dns: "192.168.1.1"
